@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
  body{
    overflow: hidden;
  }

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: white;
    font-size: 15x;
}

.cabeçalho-link a :hover{
    color: mediumseagreen;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid mediumseagreen;
    color: mediumseagreen;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.button{
    color: mediumseagreen;
    background: transparent;
    border: solid 1px mediumseagreen;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 200px;
}

button:hover{
    background-color: mediumseagreen;
    color: white;
    transition: 0.5s;
}

.container-text{
    position: relative;
    padding: 150px 0 0 130px;
    margin-left: 200px;
}

.text h3{
    color: white;
    font-size: 25px;
}

.text h1{
    color: mediumseagreen;
    margin-top: 10px;
}

.text span{
    color: mediumseagreen;
}

.text p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.redes{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -680px;
}
  
  .redes a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid mediumseagreen;
    color: mediumseagreen;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .redes a:hover{
    background-color: mediumseagreen;
    color: white;
  }



 

